#放在/usr/lib/systemd/system目录下
[Unit]
Description=Paraview remote server
After=network.target multi-user.target #这两个target是独立的
ConditionPathExists=/usr/bin/pvserver
ConditionPathExists=/home/zj/OpenFOAM/zj-11/run

[Service]
ExecStart=/usr/bin/pvserver
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=forking
RuntimeDirectory=pvserver
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
