#放在/usr/lib/systemd/system目录下
[Unit]
Description=Paraview remote server
After=network.target multi-user.target
ConditionPathExists=/usr/bin/pvserver
ConditionPathExists=/home/zj/OpenFOAM/zj-11/run
ConditionPathExists=/usr/bin/start-pvserver.sh

[Service]
ExecStart=/usr/bin/start-pvserver.sh
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RuntimeDirectory=pvserver
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
